h1,
h2,
h3,
h4,
h5,
ul,
ol,
p,
input,
textarea {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  color: #666;
  font-size: 18px;
  background: url(../image/login/bg1.png) no-repeat;
}
a {
  text-decoration: none;
}
textarea {
  outline: none;
  resize: none;
  overflow: auto;
  border: none;
}
a,
input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
ul {
  list-style: none;
}
img {
  border: none;
  vertical-align: top;
}
h1,
h2 {
  font-weight: normal;
}
input {
  border: none;
  outline: none;
}
strong,
em {
  font-style: normal;
  font-weight: normal;
}
select,
option {
  border: none;
}


#logindiv{
	width: 510px;
	height: 450px;
	background: rgba(255,255,255,0.8);
	position: absolute;
	top: 20%;
	right: 10%;
	padding-top: 63px;
	box-shadow: -2px 0px 6px rgba(0,0,0,0.1),0px 2px 6px rgba(0,0,0,0.1),0px 2px 6px rgba(0,0,0,0.1),0px -2px 6px rgba(0,0,0,0.1);
	border-radius: 4px;
}
#logindiv .content-warp{
	width: 400px;
	margin: 0 auto;
}
#logindiv .title{
	width: 400px;
	height: 52px;
	line-height: 60px;
	font-size: 24px;
	color: #00d7ff;
	text-align: center;
	margin-bottom: 33px;
}
#logindiv form .inputgroup:nth-of-type(1) input {
  background: url(../image/login/name.png) no-repeat 12px 8px;
}
#logindiv form .inputgroup:nth-of-type(2) input {
  background: url(../image/login/password.png) no-repeat 12px 8px;
}
#logindiv form .inputgroup {
  width: 400px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 13px;
}
#logindiv form .inputgroup span {
  font-size: 16px;
  color: #838383;
  margin-left: 25px;
  margin-right: 20px;
}
#logindiv form .inputgroup input {
  width: 248px;
  height: 38px;
  font-size: 16px;
  color: #333;
  height: 40px;
  text-indent: 40px;
  border: 1px solid #C3C3C3;
}
#logindiv form .inputgroup input:focus {
  border-color: #00d7ff;
}
#logindiv form .inputgroup input::-webkit-input-placeholder {
  font-size: 16px;
  color: #c3c3c3;
}
#logindiv form .inputgroup input:-moz-placeholder {
  font-size: 16px;
  color: #c3c3c3;
}
#logindiv form .inputgroup input::-moz-placeholder {
  font-size: 16px;
  color: #c3c3c3;
}
#logindiv form .inputgroup input:-ms-input-placeholder {
  font-size: 16px;
  color: #c3c3c3;
}
#logindiv form #loginbutton {
  width: 250px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  background: url(../image/login/btn.png) no-repeat center center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
  margin-left: 83px;
  margin-top: 12px;
}
#logindiv form .zcbtn{
	display: inline-block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	border-radius: 4px;
	background: rgba(255,255,255,0.5);
	margin-left: 20px;
	color: #333333;
}
#logindiv form .zcbtn:hover{
	background: #00d7ff;
	color: #FFFFFF;
	text-decoration: none;
}
#logindiv form #loginbutton:hover {
  opacity: 0.9;
}


#logindiv form .form-group{
	width: 610px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 13px;
}
#logindiv form .form-group .control-label{
	font-size: 16px;
    color: #838383;
    margin-left: 121px;
    margin-right: 22px;
    font-weight: normal;
    float: left;
}
#logindiv form .form-group .btn-group .btn-default{
	background: rgba(255,255,255,0.5);
}


#logindiv .with-line{
	  font-size: 16px;
    color: #999;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-top: 30px;
}

#logindiv .buttons-warp{
	width: 204px;
	height: 48px;
	margin: 15px auto;
}
#logindiv .buttons-warp a{
	width: 48px;
	height: 48px;
	display: block;
	float: left;
	background: url(../image/login/login_v6.png) no-repeat;
	margin: 0 10px;
}
#logindiv .buttons-warp .weibo{
	background-position: -48px 0;
}
#logindiv .buttons-warp .weibo:hover{
	background-position: -48px -48px;
}
#logindiv .buttons-warp .qzone{
	background-position: 0 0;
}
#logindiv .buttons-warp .qzone:hover{
	background-position: 0 -48px;
}
#logindiv .buttons-warp .wechat{
	background-position: -96px 0;
}
#logindiv .buttons-warp .wechat:hover{
	background-position: -96px -48px;
}

